<footer id="footer">
    <br>

    <div class="container-footer">
        
        <p>
            Los Rikolinos tambien en las redes
        </p>

        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
        <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
    </div>
</footer>