<header>
    <div class="top-header">
        <!-- imagen logo burger-menu -->
        <div class="container-burger-cart">
            <div class="burger-menu">
                <a><i class="fas fa-bars"></i></a>
            </div>

            <div class="cuenta-registro">
                <a href="/login"><i class="far fa-user-circle"></i></a>
            </div>

            <div class="cart">
                <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="contenedor-buscador-navbar">

            <div class="titulos-home">
                <a href="/">Home</a>
                <a href="/menu">Menu</a>
                <a href="/productos">Productos</a>
                <a href="/#Nosotros">Nosotros</a>
                <a href="#footer">Contacto</a>
            </div>

            <div class="buscador">
                <form action="#" method="post">
                    <input type="text" placeholder="Buscar productos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>

                </form>
            </div>

        </div>

        <!-- imagen logo  -->
        <div class="logo">
            <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
        </div>

        <div class="container-user-carrito">
            <!--User-->
            <div class="user">
                <i class="fas fa-user"></i>
            </div>

            <!-- carrito-->
            <div class="container-carrito-precio">
                <div class="container-carrito">
                    <img src="/img/carrito-de-compras.png" alt="">
                </div>
                <div class="container-precio">
                    <p>$1000000<p>
                </div>
            </div>
        </div>

    </div>
</header>